<html>
    <ul>
        <li>
            Рубрика: {{.type}} Заголовок: {{ adv1.title }} (Цена: {{adv1.price}}) руб.
            <p>
                Дата создания: {{ adv1.created_at }}
            </p>
            <p>
                Дата последней правки: {{ adv1.updated_at }}
            </p>
            <p>
                Кол-во просмотров: {{ adv1.views_count }}
            </p>
            <p>
                Автор: {{ adv1.author.name }} Почта: {{ adv1.author.email }} Телефон: {{ adv1.author.phone }}
            </p>
        </li>
    </ul>
</html>
